* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0F2649;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0%; 
    z-index: 99;
}

.top-content ul {
    display: flex;
    justify-content: center;
    align-items: center;


}

.top-content ul li {
    list-style: none;
    padding: 20px;
    color: white;
}

.top-content ul li button {
    background-color: orangered;
    color: white;
    font-weight: 500;
    padding: 15px;
    border: none;
    width: 143px;

}

.header2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    position: fixed;
    top: 6.9%;
    background-color: white;
    z-index: 99;


}



.header2 .logo img {
    max-height: 50px;
    max-width: 150px;
}

.header2 .links ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20vw;
}

.header2 .links ul li {
    list-style: none;
}

.header2 .links ul li a {
    text-decoration: none;
    padding: 0.9vw;
    color: #0F2649;
    font-size: 1.1vw;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    
}

.header2 .links ul li a:hover {
    color: orangered;
}

.header2 .links ul li .services-link {
    position: relative;
}


.header2 .links ul .dropdown .dropdown-menu {

    display: block;
    position: absolute;
    top: 15%;
    right: 11%;
    line-height: 30px;
    background: orangered;
    display: none;
}



.header2 .links ul .dropdown:hover .dropdown-menu {
    display: block;
}

/* slider css */


.carousel {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.carousel-inner {
 
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-item img {
    width: 100%;
    display: block;
}

.prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    user-select: none;
    background-color: rgba(0,0,0,0.5);
    border: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.section{
    position: relative;
}


.content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: auto auto auto auto; */
    /* grid-auto-rows: minmax(100px, auto); */
    position: absolute;
    top: -14vh;
    bottom: 10vh;
    left: 5%;
 

    
}
.content > div {
  
    text-align: center;
    background: #f7f2ed;
    height: 25vh;
    width: 30vw;
   
}

.content .div1{
    display: flex; 


}

.content .div1 .text h1{
    color: #0F2649;
}
.content .div1 .text p{
    color: #0F2649;
}

.content .div2 .text h1,p{
    color:white;
}

.content .div3 .text h1{
    color:white;
}

.content .div2{
    display: flex;
    background: #ea4a34;
}
.content .div3{
    display: flex;
    background: #0F2649;
}

.text{
  margin-top: 8vh;
}


.hero{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 20vh;
    
}

.hero .about_us img{
   margin-left: 10vw;
   height: 604px;
   width: 475px;
}


.about-content p{
  color: black;
  line-height: 3vh;
  font-size: 1.4vw;
}

.about-content .about-head{
    color: #ea4a34;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.about-content h1{
    font-weight: 700;
    color: #0F2649;
    font-size: 2.5vw;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5vh;
}

.climate-line{
    color: #ea4a34;
}

.about-content ul{
     margin-top: 5vh;
}

.about-content ul li{
    list-style: none;
    line-height: 5vh;
    font-weight: 600;
    font-size: 1.2vw;
    font-family: Arial, Helvetica, sans-serif;
    
}
.fa-check{
    color: #ea4a34; 
    margin-right: 2vw;
}

.our_section{
    background-color: #f7f2ed;;
    padding-bottom: 5vw;
}


.service_section{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;

 
}

.our_service .service_head{
    margin-top: 6vw;
    color: #ea4a34; 
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: 5vw;
    
}

.our_service h1{
    font-weight: 700;
    color: #0F2649;
    font-size: 2.5vw;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 3vh;
    margin-left: 5vw;
}

.our_service p{
    padding-top: 4vh;
    margin-left: 5vw;
    line-height: 1.7vw;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2vw;
}

.service_section .card {
    text-align: center;
    padding: 20px 0;
}

.card{
    margin-top: 8vw;
    height: 323px;
    width: 357px;
    background-color: white;
}

.card:hover {
    background-color: #0F2649;
    color: white;
}

.card img{
    height: 20vh;
    width: 10vw;
    background-color: #ea4a34;
    border-radius: 50%;
}


.card p{
    color: black;
}


/* =========second card css============== */

.second-card{
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #f7f2ed;
  gap: 20px;
  padding: 5px;
  margin-left: 26vw;
}


.second-card .card2 {
    text-align: center;
    padding: 20px 0;
}

.card2{
    margin-top: 0vw;
    height: 323px;
    width: 357px;
    background-color: white;
}

.card2:hover {
    background-color: #0F2649;
    color: white;
}

.card2 img{
    height: 20vh;
    width: 10vw;
    background-color: #ea4a34;
    border-radius: 50%;
}


.card2 p{
    color: black;
}


.menu-toggle{
    margin-right: 10vw;
    font-size: 1.5vw;
    display: none;
}


.slider{
    margin-top: 2vw;
}

/* @media screen {
    .Additional_service{
        text-align: center;
    }
    .Additional_service .addtional_head{
        color: #ea4a34;
        font-size: 1.5vw;
    }
    
    .Additional_service h1{
        font-size: 2.5vw;
        color: #0F2649;
    }
    
    .add_ser{
        line-height: 4vw;
    }
    
    .left-add {
        display: flex;
        align-items: center;
    
    }
    .left-add h1 {
        margin: 0;
        padding: 0 10px;
    }
    
    .lte-dots {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
        border-color: #0f2c49;
        border-color: var(--black);
        margin: 0px 15px 0;
        position: relative;
        top: 6px;
    }
    
    .add_ser{
        display: grid;
        grid-template-columns: auto auto auto auto;
        padding-top: 4vw;
        margin-left: 8vw;
    }
    
    .left_ads{
    padding-right: 10vw;
    }
    .left_ads .left-add h1{
        color: #0F2649;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    
    
    .right-add{
        padding-left: 5vw;
    }
    
    .right-add .left-add h1{
        color: #0F2649;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .button{
        text-align: center;
        padding-top: 4vw;
    }
    
    .button #btn{
        background-color:  #f35d22;
        padding: 1.2vw;
        width: 12vw;
        border: none;
        font-size: 16px;
        color: white;
        font-weight: 500;
    }
    
} */

.ac_banner{
    padding-top: 2vw;
    position: relative;
}

.ac_banner img{
    height: auto;
    width: 100%;
    
}

.img_cont h1{
    position: absolute;
    top: 20%;
    left: 10%;
    font-weight: 800;
    font-size: 5vw;
}
.img_cont p{
    position: absolute;
    top: 60%;
    left: 10.2%;
    font-weight: 600;
    font-size: 1.5vw;
    color: #0F2649;
}

.img_cont button{
    position: absolute;
    bottom: 18%;
    left: 10.2%;
    background-color: #f35d22;
    border: none;
    padding: 1.5vw;
    width: 10vw;
    color: white;
    font-weight: 600;
   
}

.main-sec{
    background-color: #0F2649;
    display: grid;
    grid-template-columns: auto auto auto auto;
 
}
.main-sec .modern-sec .heading{
    margin-top: 7vw;
    margin-left: 8vw;
    font-size: 2vw;
}
.main-sec .modern-sec h1{
    margin-left: 8vw;
    margin-top: 1vw;
    color: white;
    font-size: 2vw;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 3vw;
}

.main-sec .modern-sec p{
    color: white;
    margin-left: 8vw;
    margin-top: 1vw;
    font-size: 1.2vw;
}

.main-sec .modern-sec2 img{
    height: 571px;
    width: 505px;
    padding-top: 3vw;
    padding-bottom: 8vw;
}

.main-sec .modern-sec .red-btn{
    margin-left: 8vw;
    margin-top: 1vw;
   
}

.main-sec .modern-sec .red-btn button{
  background-color: #f35d22;
  color: white;
  padding: 1vw;
  width: 10vw;
  border: none;

}



.modern-section{
    position: relative;

}


.content2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-columns: auto auto auto auto; */
    /* grid-auto-rows: minmax(100px, auto); */
    position: absolute;
    top: 80%;
    bottom: 0%;
    left: 6%;
    box-shadow: 5px 60px 50px 10px black;
 

    
}
.content2 > div {
  
    text-align: center;
    background: #f7f2ed;
    height: 25vh;
    width: 22vw;
   
}

.content2 .div1{
    display: flex; 
    background-color: white;

}

.content2 .div1 .text h1{
    color: #f35d22;
    font-weight: 800;
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -1vw;
}
.content2 .div1 .text p{
    color: #0F2649;
    font-size: 1.2vw;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.content2 .div2{
    display: flex;
    background: white;
}


.content2 .div2 .text h1{
    color: #f35d22;
    font-weight: 800;
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -1vw;
}



.content2 .div2 .text p{
  color: #0F2649;
  font-size: 1.2vw;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}


.content2 .div3{
    display: flex;
    background: white;
}

.content2 .div3 .text h1{
    color: #f35d22;
    font-weight: 800;
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -1vw;
}



.content2 .div3 .text p{
  color: #0F2649;
  font-size: 1.2vw;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.content2 .div4{
    display: flex;
    background: white;
}

.content2 .div4 .text h1{
    color: #f35d22;
    font-weight: 800;
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -1vw;
}



.content2 .div4 .text p{
  color: #0F2649;
  font-size: 1.2vw;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.tech-support{
   
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.warranty{
    padding-top: 7vw;
    margin-left: 1vw;
}

.warranty p{
   font-weight: 600;
   font-family: Arial, Helvetica, sans-serif;
   padding-bottom: 2vw;
}


.warranty h1{
    font-weight: 700;
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    color: #0F2649;

}

.warranty .war-pra{
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 2vw;
    color: #0F2649;
}

.warranty span{
    background-color: rgba(245, 222, 179, 0.66);
    border-radius: 50%;
    height: 250px;
    width: 500px;
    font-size: 1.8vw;
    color: #f35d22;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 3vw;
   
}

.warranty li{
    list-style: none;
    font-size: 1.2vw;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: #0F2649;
    line-height: 5vw;

    
}

.tech-support .img{
    padding-top: 4vw;
    height: auto;
    width: 100%;
 
}


.tech-support .img img{
    height: 600px;
    width: 600px;
}

.tech-support .form{
    padding-top: 7vw;
 
}

.tech-support .form form{
    background-color: rgba(245, 245, 220, 0.803);
    height: 500px;
    width: 100%;
}

.tech-support .form h1{
    text-align: center;
    color: #0f2c49;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding-top: 2vw;

}

.tech-support .form .inputs{
    padding-top: 3vw;
    gap: 20px;

}


.tech-support .form .inputs input{
    height: 50px;
    width: 350px;
    margin-left: 2vw;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background-color: rgba(245, 245, 220, 0.803);
}

.tech-support .form .inputs .btn{
    margin-top: 2vw;
    background-color: #f35d22;
    height: 4.9vw;
    color: white;
    border: none;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    cursor: pointer;
}

.ship-sec{
    position: relative;
    padding-bottom: 10vw;
}

.ship-sec .content3{
  display: flex;
  position: absolute;
  margin-left: 6vw;
  top: 82%;
  box-shadow: 5px 5px 5px 5px black;
}



.ship-sec .content3 .div1 img{
    height: 220px;
    width: 500px;
   
}
.ship-sec .content3 .div2{
    height: 220px;
    width: 55vw;
    background-color: #f35d22;
   
}

.ship-sec .content3 .div2 .email{
   width: 50%;
   margin-left: 5vw;
   margin-top: 6vw;
   height: 3vw;
   border-top:none ;
   border-left: none;
   border-right: none;
   background-color: #f35d22;
   border-color: white;
   outline: none;
}

.ship-sec .content3 .div2 .email::placeholder{
    color: white;
    font-size: 1.2vw;
}

.ship-sec .content3 .div2 .btn2{
    background-color: #0f2c49;
    color: white;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4vw;
    padding: 1.2vw;
    border: none;
    width: 15vw;
}

.system{
    display: grid;
    grid-template-columns: auto auto auto auto; 
    margin-left: 5vw;
   
}

.system .free-ship{
    text-align: center;
}

.system .free-ship img{
    height: 200px;
    width: 200px;
}
.system .free-ship h1{
    font-size: 1.2vw;
    margin-top: -1vw;
    color: #0F2649;
    font-family: Arial, Helvetica, sans-serif;
}

.system .free-ship p{
    font-size: 1vw;
    color: #0F2649;
    margin-top: 0.8vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;

}
.system .guarntee{
    text-align: center;
}

.system .guarntee h1{
    font-size: 1.2vw;
    margin-top: -1vw;
    color: #0F2649;
    font-family: Arial, Helvetica, sans-serif;
}


.system .guarntee p{
    font-size: 1vw;
    color: #0F2649;
    margin-top: 0.8vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;

}

.system .guarntee img{
    height: 200px;
    width: 200px;
}

.system .discount{
    text-align: center;
}
.system .discount img{
    height: 200px;
    width: 200px;
}

.system .discount h1{
    font-size: 1.2vw;
    margin-top: -1vw;
    color: #0F2649;
    font-family: Arial, Helvetica, sans-serif;
}


.system .discount p{
    font-size: 1vw;
    color: #0F2649;
    margin-top: 0.8vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;

}



.system1{
    display: grid;
    grid-template-columns: auto auto auto auto; 
    margin-left: 5vw;
}

.system1 .online-pay{
    text-align: center;
}

.system1 .online-pay img{
    height: 200px;
    width: 200px;
}
.system1 .online-pay h1{
    font-size: 1.2vw;
    margin-top: -1vw;
    color: #0F2649;
    font-family: Arial, Helvetica, sans-serif;
}

.system1 .online-pay p{
    font-size: 1vw;
    color: #0F2649;
    margin-top: 0.8vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;

}
.system1 .certify{
    text-align: center;
}

.system1 .certify h1{
    font-size: 1.2vw;
    margin-top: -1vw;
    color: #0F2649;
    font-family: Arial, Helvetica, sans-serif;
}


.system1 .certify p{
    font-size: 1vw;
    color: #0F2649;
    margin-top: 0.8vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;

}

.system1 .certify img{
    height: 200px;
    width: 200px;
}

.system1 .support{
    text-align: center;
}
.system1 .support img{
    height: 200px;
    width: 200px;
}

.system1 .support h1{
    font-size: 1.2vw;
    margin-top: -1vw;
    color: #0F2649;
    font-family: Arial, Helvetica, sans-serif;
}


.system1 .support p{
    font-size: 1vw;
    color: #0F2649;
    margin-top: 0.8vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;

}

.footer-sec{
    background-color: #0F2649;
}


.footer-sec .footer-logo{
    text-align: center;
    
}
.footer-sec .footer-logo img{
    height: 100px;
    width: 300px;
    padding-top: 1vw;
    margin-top: 10vw;
}

.footer-sec .footer-logo p{
    padding-top: 1.6vw;
    font-size: 1vw;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
 
}

.footer-grid{
    display: grid;
    grid-template-columns: auto auto auto auto; 
    margin-left: 15vw;
    margin-top: 5vw;
    padding-bottom: 5vw;
}

.footer-grid .mob .icon{
    
    background-color: #ea4a34;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    position: relative;
    margin-left: 0vw;
   
}

.footer-grid .mob .icon .fa-solid {
    font-size: 2vw; 
    position: absolute;
    top: 28%;
    left: 28%;
}

.footer-grid .mob h1{
    color: white;
    font-size: 1.2vw;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 8px;

}

.footer-grid .mob  p{
    text-align: start;
    
}



.footer-grid .office .icon{
    
    background-color: #ea4a34;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    position: relative;
    margin-left: 1.1vw;
   
}

.footer-grid .office .icon .fa-solid {
    font-size: 2vw; 
    position: absolute;
    top: 28%;
    left: 32%;
}


.footer-grid .office h1{
    color: white;
    font-size: 1.2vw;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 8px;

}

.footer-grid .office  p{
    text-align: start;
    
}



.footer-grid .email .icon{
    
    background-color: #ea4a34;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    position: relative;
    margin-left: 0vw;
   
}

.footer-grid .email .icon .fa-solid {
    font-size: 2vw; 
    position: absolute;
    top: 28%;
    left: 28%;
}

.footer-grid .email h1{
    color: white;
    font-size: 1.2vw;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 8px;

}

.footer-grid .email  p{
    text-align: start;
    
}



.footer-grid .workinghour .icon{
    
    background-color: #ea4a34;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    position: relative;
    margin-left: 1.5vw;
   
}

.footer-grid .workinghour .icon .fa-solid {
    font-size: 2vw; 
    position: absolute;
    top: 28%;
    left: 28%;
}

.footer-grid .workinghour  h1{
    color: white;
    font-size: 1.2vw;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 8px;

}

.footer-grid .workinghour  p{
    text-align: start;
}

.footer-sec .foot-grid-2{
    padding-top: 2vw;
    background-color: #0f2c49;
    height: 4vw;
}
.footer-sec .foot-grid-2 p{
    text-align: center;
}


